@font-face {
    font-family: Montserrat-regular;
    src: url(/assets/font/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(/assets/font/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(/assets/font/fonts/BebasNeue-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.get-font-vinflix{
    font-family: Montserrat-regular;
}
body,html{
    background-color: #141414;
    color: #ffffff;
}
#header{
    font-size: 14px;
    font-weight: bolder;
    height: 68px;
    position: fixed;
    z-index: 10;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 200ms ease 0s;
}

.header-background{
    background-color: #141414f3;
    transition: 1000ms;
}

.header-vinflix-logo{
    display: block;
    position: absolute;
    height: 68px;
    margin-left: 50px;
}

#header .header-vinflix-logo a{
    text-decoration: none;
    display: inline-block;
    height: 0px;
    width: 0px;
}
#header .header-vinflix-logo img{
    height: 30px;
    width: 100px;
    display: inline-block;
    margin: 19px 0px;
}
#nav{
    display: inline-block;
    margin-left: 200px;
    font-family: Montserrat-bold;
    height: 68px;
}
#nav > li{
    display: block;
}

#nav li{
    display: inline-block;
}

#nav > li > a{ /* the nav */
    color: #fff;
    text-decoration: none;
    padding: 13.8px 30px 13.8px 30px;
    border-radius: 5px;
    line-height: 68px;
    text-shadow: 0 1px 1px rgb(0 0 0);
}

#nav > li:hover > a {
    color: rgb(202, 202, 202);
}

.nav-menu{
    display: block;
}

.nav-menu > li > a{
    display: inline-block;
    font-family: Montserrat-regular;
    font-size: 15px;
    padding: 5px;
}

.nav-menu > li > a{
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

.nav-menu > li > a:hover {
    background-color: rgba(54, 54, 54, 0.7);
    border-radius: 5px;
    font-family: Montserrat-bold;
}

#nav .nav-home-phimbo, #nav .nav-home-phimle,
#nav .nav-home-quocgia, #nav .nav-home-theloai {
    display: none;
    position: absolute;
}

#nav li:hover .nav-menu{
    background-color: rgba(20, 20, 20, 0.8);
    display: block;
    padding: 10px 5px;
    border-radius: 5px;
    top: 51px;
    max-width: 50%;
}

#home-search-box{
    float: right;
    line-height: 68px;
    margin-right: 200px;
    height: 68px;
    display: block;
}
#home-search-box form{
    position: relative;
    top: 34px; /*position of search box*/
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: none;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid rgba(255, 255, 255, 0);
    padding: 5px;
}

#home-search-box .nav-search-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 68px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    color: rgb(20, 20, 20);
}

#home-search-box .fas{
    box-sizing: border-box;
    padding: 11px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    text-shadow: 0 2px 2px rgb(0 0 0);
}

#home-search-box form:hover{
    width: 350px;
    cursor: pointer;
    background-color: #ffffff;
}

#home-search-box form:hover .nav-search-box{
    display: block;
    background-color: #ffffff;
    color: rgb(20, 20, 20);
    font-family: Montserrat-bold;
}

#home-search-box form:hover .fas{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 2px #ffffff;
}

/* searchBox click event class*/
#home-search-box form .onclick-searchbox-input{
    display: block;
    background-color: #ffffff;
    color: rgb(20, 20, 20);
    font-family: Montserrat-bold;
}
#home-search-box form .onclick-searchbox-searchicon{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 2px #ffffff;
}

#home-search-box .onclick-searchbox-form{
    width: 350px;
    cursor: pointer;
    background-color: #ffffff;
}
/* searchBox click event class*/
#home-content{
    width: auto;
    height: auto;
    position: relative;
    min-height: 3000px;
}

#home-slider{
    width: 100%;
    height: 854.55px;
    position: absolute;
    display: inline-block; 
    background-color: rgb(20, 20, 20);
}

#home-slider .poster-trailer,
#home-slider .info-trailer,
#home-slider .container-trailer{
    width: 100%;
    position: absolute;
}

#home-slider .poster-trailer img{
    width: 100%;
    height: 854.55px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#home-slider .poster-trailer{
    z-index: 1; /* background z index */
}

#home-slider .info-trailer{
    z-index: 9;
    font-size: 20px;
    font-family: Montserrat-bold;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 40px;
    row-gap: 10px;
    top: 38%;
    left: 5%;
}

#home-slider .info-trailer .btns-trailer,
#home-slider .info-trailer .trailer-name, 
#home-slider .info-trailer .trailer-description{
    display: inline-flex;
    font-family: Montserrat-bold;
}

#home-slider .info-trailer .trailer-name{
    font-size: 40px;
    top: 300px;
    height: auto;
    width: auto;
    text-shadow: 0 1px 1px #393939;
}

#home-slider .info-trailer .trailer-description{
    top: 350px;
    width: 500px;
    height: auto;
    font-size: 13px;
    font-family: Montserrat-regular;
    text-shadow: 0 1px 1px #393939;
    font-size: 20px;
}

.btns-trailer .split-btn{
    display: flex;
    height: 50px;
    column-gap: 30px;
}

.info-trailer .btns-trailer .play-movie-btn,
.info-trailer .btns-trailer .info-movie-btn{
    padding: 5px 10px;
    align-items: center;
    display: inline-flex;
    border-radius: 10px;
    line-height: 50px;
}

.play-movie-btn{
    background-color: #fff;
    color: #000000;
}
.info-movie-btn{
    background-color: rgb(50, 50, 50);
    color: #fff;
}
.info-trailer .btns-trailer .fas{
    font-size: 20px;
    bottom: 0;
}

.info-trailer .btns-trailer i{
    margin-right: 10px;
}

#home-slider .container-trailer{
    z-index: 1;
    background-color: rgb(20, 20, 20);
}
#trailer-movie{
    width: 100%;
    height: auto;
}

#home-slider .home-button-forward,
#home-slider .home-button-backward
{
    font-weight: bolder;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    color: #ffffff;
    display: inline-block;
    z-index: 9;
}
#home-slider .home-button-forward {
    right: 50px;
    line-height: 760px;
    opacity: 0.8;
}

#home-slider .home-button-backward {
    left: 50px;
    line-height: 760px;
    opacity: 0.8;
}

#home-content .background-blur{
    position: absolute;
    z-index: 3; /* background z index */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 40%,rgba(20,20,20,.35) 85%,rgba(20,20,20,.58) 88%,#141414 98%,#141414 100%)
}

#movies-list-slider{
    z-index: 3; /* background z index */
    position: absolute;
    top: 20%;
    width: 100%;
}

.container-display{
    display: block;
    margin-bottom: 60px;
    margin-left: 3%;
    top: 1200px;
}

.first-list-display{
    
}

.container-display .header-title{
    text-decoration: none;
    display: inline-block;
    color: rgb(220, 220, 220);
    font-weight: 700;
    font-size: 1.4vw;
    height: 70px;
    line-height: 70px;
}
.container-display .view-all-list{
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-weight: 500;
    font-size: .8vw;
    padding-left: 5px;
    display: none;
}

.container-display .icon-angle-right{
    color: rgb(220, 220, 220);
    font-size: 1.4vw;
    display: none;
    margin: 1px;
    transition: width 500ms;
}
.container-display > .header-title:hover span{
    font-size: .95vw;
    display: inline-block;
}

.container-display:hover .header-title .icon-angle-right{
    display: inline-block;
}

.container-display .movies-display::after {
    content: "";
    clear: both;
    display: table;
}
.container-display .movie-display{
    float: left;
    padding-right: 4px;
}
.container-display .movie-display img{
    width: 235px;
    height: 140px;
    border-radius: 6px;
}
